
body{
    font-family: 'Cherry Swash', serif
 !important;
}
@keyframes pulse {
    0% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
    100% {
        transform: scale(1);
    }
}
@keyframes fadeSlideIn {
    0% {
        opacity: 0;
        transform: translateX(-30px); /* Move the text 50px to the left */
    }
    100% {
        opacity: 1;
        transform: translateX(0); /* Move the text back to its original position */
    }
}
.contact-btn  {
    opacity: 0;
    animation: fadeSlideIn 1s ease-in-out 1s forwards,pulse 1s infinite;
    box-shadow: 0px 10px 20px rgba(255, 193, 7, 0.6);
}
