body {
  background: #020617;
  
    font-family: 'Cherry Swash', serif
 !important;

}


@keyframes pulse {
  0% {
      transform: scale(1);
  }
  50% {
      transform: scale(1.15);
  }
  100% {
      transform: scale(1);
  }
}
@keyframes fadeSlideIn {
  0% {
      opacity: 0;
      transform: translateX(-30px); /* Move the text 50px to the left */
  }
  100% {
      opacity: 1;
      transform: translateX(0); /* Move the text back to its original position */
  }
}
@keyframes fadeIn {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

/* Apply the fade-in animation with increasing delays */
.elm-1 {
  animation: fadeIn 1s ease-in-out forwards;
}

.elm-2 {
  animation: fadeIn 1s ease-in-out 0.5s forwards; /* delay of 0.2s */
}

.elm-3 {
  animation: fadeIn 1s ease-in-out 1s forwards; /* delay of 0.4s */
}

.elm-4 {
  animation: fadeIn 1s ease-in-out 1.5s forwards; /* delay of 0.6s */
}

.elm-5 {
  animation: fadeIn 1s ease-in-out 2s forwards; /* delay of 0.8s */
}

.elm-6 {
  animation: fadeIn 1s ease-in-out 2.5s forwards; /* delay of 1s */
}

.elm-7 {
  animation: fadeIn 1s ease-in-out 3s forwards; /* delay of 1.2s */
}

.elm-8 {
  animation: fadeIn 1s ease-in-out 3.5s forwards; /* delay of 1.4s */
}

/* Optional: For icons with fadeSlideIn */
.icon {
  background-color: transparent !important;
  opacity: 0;
  animation: fadeSlideIn 1s ease-in-out 1s forwards, pulse 1s infinite;
}

/* Optional: If you want to make sure the elements are initially hidden */
.elm-1, .elm-2, .elm-3, .elm-4, .elm-5, .elm-6, .elm-7, .elm-8 {
  opacity: 0;
}


/* custom placeholder class*/
.form-control::placeholder {
  color: #f3f4f6;
  font-family: 'Cherry Swash', serif
;
  font-style: normal;
  font-weight: 500;
  line-height: 41px;
}
/*text id and text 2 class for responsive font size */
#text {
  font-size: 22px;
}
.text2 {
  font-size: 17px;
}
/* name id to change height*/
#name {
  height: 63px;
}
/* link id for custom style*/
#link {
  text-decoration: none;
  color: white;
}
/* hover effect and pointer curson*/
#link:hover {
  color: #ffc107;
}
img {
  cursor: pointer;
}


@media (max-width: 500px) {
  #text {
    font-size: 14px;
    white-space: normal;
    overflow-wrap: break-word;
  }
  .text2 {
    font-size: 10px;
  }
  #name {
    height: 45px;
  }
}
