#navbarNav a {
  position: relative;
  display: inline-block;
  text-shadow: 1px 0px rgba(0, 0, 0, 0.4);
  transition: color 200ms;
  transform-style: preserve-3d;
}

 a:hover {
  color: #343e48;
}

#navbarNav a:after {
  content: attr(data-title);
  position: absolute;
  top: 0; /* Align the top of the hover effect */
  left: 0; /* Align the left of the hover effect */
  right: 0; /* Ensure it stretches to the right */
  bottom: 0; /* Ensure it covers the entire height */
  padding: 5px 7px;
  background: #4795c3;
  
  color: transparent;
  transform-origin: 50% 0%;
  backface-visibility: hidden;
  transform: translate3d(0px, 100%, 0px) rotateX(-112deg);
  transition: all 200ms ease;
  z-index: -1;
}

#navbarNav li:nth-child(2) a:after {
  background: #ecc64b;
}

#navbarNav li:nth-child(3) a:after {
  background: #20B2AA;
}

#navbarNav li:nth-child(4) a:after {
  background: #f26667;
}

#navbarNav li:nth-child(5) a:after {
  background: #BA55D3;
}

#navbarNav a:hover:after {
  transform: rotateX(0deg) translateZ(0px);
}



