body {
  background: #111827;
}
.navbar {
  background: #020617;
}
.resume {
  border-radius: 12px;
  background: #020617;
}
#text {
  font-size: 22px;
}
.title {
  font-size: 22px;
}
@media (max-width: 500px) {
  #text {
    font-size: 13px;
  }
  .title {
    font-size: 17px;
  }
}
